.user-card{
    margin: 50px;
    border-radius: 10px;
    border-style: groove;
    border-color:none;

}
.table{
    width:100%;
}
.card-header{
    justify-content: center;
}
.addlink{
    margin:100px;
}
.paginator{
    margin-top: 50px;;
}