<mat-card class="user-card" appearance="outlined">

    <mat-card-header>
        <h1>Edit User</h1>
        
    </mat-card-header>
<mat-card-content>
    <form  [formGroup] = "editUserForm" (ngSubmit)="onSubmit()">

        <div class = " form-group">

            <mat-form-field appearance="outline" class="user-details">
                <label class="labels">
                    First Name:
                </label>
                <input class="inputs" matInput formControlName="firstName" >
                <mat-error *ngIf="editUserForm.get('firstName')?.hasError('required')">name is Required</mat-error>
            </mat-form-field>
        </div>
        <div class = " form-group">

            <mat-form-field appearance="outline" class="user-details">
                <label class="labels">
                    last Name:
                </label>
                <input class="inputs" matInput formControlName="lastName" >
            </mat-form-field>
        </div> <div class = " form-group">

            <mat-form-field appearance="outline" class="user-details">
                <label class="labels">
                    Email:
                </label>
                <input matInput class="inputs" type = "email" formControlName="email" >
                <mat-error *ngIf="editUserForm.get('email')?.touched && editUserForm.get('email')?.invalid">Email is required</mat-error>

            </mat-form-field>
        </div> <div class = " form-group">

            <mat-form-field appearance="outline" class="user-details">
                <label class="labels">
                    Department:
                </label>
                <input matInput class="inputs" formControlName="department" >
            </mat-form-field>
        </div>
            <button  class="primary" [disabled]="!editUserForm.valid" type = "submit"  >Edit User</button>

    </form>
</mat-card-content>
</mat-card>
