<mat-card class="user-card" appearance="outlined">

    <mat-card-header>
        <h1>Add User</h1>
        
    </mat-card-header>
<mat-card-content>
    <form  #userForm = "ngForm" (ngSubmit)="saveUser()">

        <div class = " form-group">

            <mat-form-field>
                <mat-label>
                    First Name
                </mat-label>
                <input matInput placeholder="Enter User Firstname" name="firstName" [(ngModel)] ="newUserForm.firstName" required minlength="4" maxlength="20">
                <mat-error *ngIf="userForm.controls['firstName']?.touched && userForm.controls['firstName'].hasError('required')">Name is required</mat-error>
            </mat-form-field>
        </div>
        <div class = " form-group">

            <mat-form-field>
                <mat-label>
                    Last Name
                </mat-label>
                <input matInput placeholder="Enter User Lastname" name="lastName" [(ngModel)] ="newUserForm.lastName">
            </mat-form-field>
        </div>
        <div class = " form-group">

            <mat-form-field>
                <mat-label>
                    
                </mat-label>
                <input matInput placeholder="Enter User Email" name="email" [(ngModel)] ="newUserForm.email">
            </mat-form-field>
        </div>
        <div class = " form-group">

            <mat-form-field>
                <mat-label>
                    
                </mat-label>
                <input matInput placeholder="Enter User Department" name="department" [(ngModel)] ="newUserForm.department">
            </mat-form-field>
        </div>
        <div>
            <button  class="primary" [disabled]="!userForm.valid" (click)="saveUser()">Add New User</button>
        </div>

    </form>
</mat-card-content>
</mat-card>
